.cabecalho{

    width: 100%;
    background-color: var(--cor-verde);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.links{
   display: flex;
}

.links a{
    margin: 0 1em;
    color: var(--cor-branca);
    font-size: 32px;
    font-weight: 200;
}

.botoes_favcar{
    display: flex;
    justify-content: flex-end;
    padding: 1em 0.2em;
}

.botoes_favcar img{
   
    margin: 0 0.5em;
}