:root { 
  --black: #000000;
  --cinza: #646867;
  --granite-gray: #64686733;
  --gray: #818085;
  --maincolor: #ffffff;
  --verde: #2b3b37;
  --white: #ffffff;
  --white1: #ffffff;
 
  --font-size-l: 32px;
  --font-size-m: 24px;
  --font-size-s: 20px;
  --font-size-xs: 16px;
  --font-size-xxs: 12px;
  --font-size-xxxs: 11px;
  --font-size-xxxxs: 10px;
 
  --font-family-arial-regular: "Arial-Regular", Helvetica;
  --font-family-montserrat: "Montserrat", Helvetica;
}
.montserrat-normal-black-32px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-white-24px {
  color: var(--maincolor);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.montserrat-thin-white-12px {
  color: var(--maincolor);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 100;
}

.montserrat-light-gray-11px {
  color: var(--gray);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 300;
}

.montserrat-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.montserrat-light-black-10px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 300;
}
