/* main.css */
/* Cores */
:root {
    --gunmetal: #2b3b37ff;
    --dim-gray: #646867ff;
    --white: #ffffffff;
    --platinum: #e2e2e2ff;
    --black: #000000ff;
  }
  
  /* Estilos gerais */
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--white);
    color: var(--black);
  }
  
  .fixed-header {
    background-color: var(--gunmetal);
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .fixed-navbar {
    background-color: var(--gunmetal);
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .fixed-footer {
    background-color: var(--gunmetal);
    color: var(--white);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  /* Estilos para o navbar */
  .navbar {
    background-color: var(--gunmetal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-brand {
    font-size: 20px;
  }
  
  .navbar-brand .logo {
    color: var(--white);
    text-decoration: none;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    color: var(--white);
    text-decoration: none;
  }
  
  /* Estilos para o navbar responsivo */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar-menu {
      margin-top: 10px;
    }
  
    .nav-item {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  /* Estilos específicos para cada página */
  .home {
    /* Estilos específicos para a página Home */
    background-color: var(--platinum);
  }
  
  .produtos {
    /* Estilos específicos para a página Produtos */
    background-color: var(--white);
  }
  
  .cadastro-login {
    /* Estilos específicos para a página Cadastro e Login */
    background-color: var(--platinum);
  }
  
  .sobre-empresa {
    /* Estilos específicos para a página Sobre a Empresa */
    background-color: var(--white);
  }
  
  .carrinho-compra {
    /* Estilos específicos para a página Carrinho de Compra */
    background-color: var(--platinum);
  }
  
/* Footer */
/* Estilos para o conteúdo do footer */
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo .logo {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  .footer-links {
    list-style: none;
    display: flex;
  }
  
  .footer-links li {
    margin-right: 10px;
  }
  
  .footer-links li a {
    color: var(--white);
    text-decoration: none;
  }
  
  .footer-social {
    display: flex;
    align-items: center;
  }
  
  .footer-social li {
    margin-right: 10px;
  }
  
  .footer-social li a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Estilos responsivos para o footer */
  @media screen and (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer-links {
      margin-top: 10px;
    }
  }
  