body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-montserrat: Montserrat;
  
    /* font sizes */
    --font-size-base: 16px;
    --font-size-5xl: 24px;
    --font-size-xs: 12px;
    --font-size-2xs: 11px;
    --font-size-xl: 20px;
    --font-size-7xl: 26px;
    --font-size-37xl: 56px;
    --font-size-17xl: 36px;
    --font-size-3xs: 10px;
    --font-size-13xl: 32px;
    --font-size-45xl: 64px;
    --font-size-29xl: 48px;
    --font-size-11xl: 30px;
  
    /* Colors */
    --color-white: #fff;
    --cinza: #646867;
    --color-dimgray-100: rgba(100, 104, 103, 0.62);
    --color-dimgray-200: rgba(100, 104, 103, 0.2);
    --verde: #2b3b37;
    --color-black: #000;
    --color-gray: #818085;
  
    /* Gaps */
    --gap-5xl: 24px;
    --gap-sm: 14px;
    --gap-base: 16px;
    --gap-45xl: 64px;
  
    /* Paddings */
    --padding-lg: 18px;
    --padding-0: 0px;
    --padding-base: 16px;
  
    /* border radiuses */
    --br-3xs: 10px;
    --br-8xs: 5px;
    --br-11xl: 30px;
  }
  
.group-child19 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--verde);
    width: 1440px;
    height: 120px;
  }
  .park-icon4 {
    position: absolute;
    top: 38.22px;
    left: 34px;
    width: 49px;
    height: 43.56px;
  }
  .e-mail8,
  .entre-em-contato4,
  .nome6 {
    position: absolute;
    display: inline-block;
  }
  .entre-em-contato4 {
    top: 45.33px;
    left: 595px;
    font-size: var(--font-size-7xl);
    width: 229px;
    height: 28.44px;
  }
  .e-mail8,
  .nome6 {
    top: 24px;
    left: 905px;
    font-weight: 100;
    width: 45px;
    height: 17px;
  }
  .nome6 {
    top: 78px;
    width: 42px;
    height: 16px;
  }
  .group-child20,
  .group-child21 {
    position: absolute;
    top: 15.11px;
    left: 905px;
    border-bottom: 0.7px solid var(--color-white);
    box-sizing: border-box;
    width: 493px;
    height: 25.78px;
  }
  .group-child21 {
    top: 61.33px;
    height: 32.89px;
  }
  .rectangle-parent6 {
    position: absolute;
    top: 3195px;
    left: 0;
    width: 1440px;
    height: 120px;
    font-size: var(--font-size-xs);
    color: var(--color-white);
  }
  .produtos-child {
    position: absolute;
    top: 3273.42px;
    left: 1366px;
    width: 30.35px;
    height: 5.15px;
  }
  .vector-icon18,
  .vector-icon19,
  .vector-icon20 {
    position: absolute;
    height: 0.53%;
    width: 1.25%;
    top: 95.27%;
    right: 71.25%;
    bottom: 4.2%;
    left: 27.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon19,
  .vector-icon20 {
    right: 74.44%;
    left: 24.31%;
  }
  .vector-icon20 {
    right: 68.13%;
    left: 30.63%;
  }
  .visa-1-icon6 {
    position: absolute;
    top: 5.54px;
    left: 48.22px;
    width: 42.68px;
    height: 13.86px;
    object-fit: cover;
  }
  .bandeira-amex-png-16,
  .elo-1-16,
  .mastercard-1-icon6 {
    position: absolute;
    top: 0.55px;
    left: 0;
    width: 31.59px;
    height: 24.39px;
    object-fit: cover;
  }
  .bandeira-amex-png-16,
  .elo-1-16 {
    top: 3.88px;
    left: 107.53px;
    width: 44.9px;
    height: 17.18px;
  }
  .bandeira-amex-png-16 {
    top: 0;
    left: 169.06px;
    width: 24.94px;
    height: 24.94px;
  }
  .visa-1-parent2 {
    position: absolute;
    top: 19px;
    left: 273px;
    width: 194px;
    height: 24.94px;
  }
  .formas-de-pagamento6 {
    position: absolute;
    top: 19px;
    left: 0;
    font-size: var(--font-size-xl);
    color: var(--color-black);
  }
  .boleto-logo-0-1-icon6,
  .logopix-powered-by-banco-cent-icon6 {
    position: absolute;
    top: 22px;
    left: 486px;
    width: 50px;
    height: 18px;
    object-fit: cover;
  }
  .boleto-logo-0-1-icon6 {
    top: 0;
    left: 549px;
    width: 62px;
    height: 62px;
  }
  .greenoakcombr6 {
    position: absolute;
    top: 31px;
    left: 806px;
    font-weight: 300;
  }
  .copyright-icon6 {
    position: absolute;
    height: 16.13%;
    width: 0.88%;
    top: 54.84%;
    right: 29.45%;
    bottom: 29.03%;
    left: 69.66%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .todos-os-direitos6 {
    position: absolute;
    top: 31px;
    left: 982px;
    font-weight: 300;
  }
  .group-parent3 {
    position: absolute;
    top: 3325px;
    left: 34px;
    width: 1134px;
    height: 62px;
    font-size: var(--font-size-2xs);
    color: var(--color-gray);
  }
  .produtos-inner,
  .produtos-item {
    position: absolute;
    height: 1.4%;
    width: 9.65%;
    top: 94.89%;
    right: 86.74%;
    bottom: 3.71%;
    left: 3.61%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .produtos-inner {
    height: 0.89%;
    width: 5.39%;
    top: 3.9%;
    right: 3.5%;
    bottom: 95.22%;
    left: 91.11%;
  }
  .card-1-child {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.3);
    border: 0.5px solid var(--color-dimgray-200);
    box-sizing: border-box;
    width: 400px;
    height: 400px;
  }
  .image-from-rawpixel-id-3311895-icon1 {
    position: absolute;
    top: 14px;
    left: 121px;
    width: 158px;
    height: 198px;
    object-fit: cover;
  }
  .texto-card-1-item {
    position: absolute;
    top: 89px;
    left: 81px;
    border-radius: var(--br-3xs);
    background-color: var(--verde);
    width: 130px;
    height: 39px;
  }
  .cadeira-amaznia1,
  .r-400001 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .r-400001 {
    top: 54px;
    left: 105px;
    font-size: var(--font-size-base);
    text-decoration: line-through;
  }
  .r-230001 {
    position: absolute;
    top: 94px;
    left: 87px;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
  }
  .ou-r-250001 {
    position: absolute;
    top: 147px;
    left: 67px;
    font-size: var(--font-size-3xs);
    letter-spacing: 0.2em;
    font-weight: 300;
  }
  .texto-card-11 {
    position: absolute;
    top: 220px;
    left: 54px;
    width: 291px;
    height: 159px;
  }
  .card-1,
  .card-101,
  .card-13,
  .card-16 {
    position: absolute;
    top: 534px;
    left: 32px;
    width: 400px;
    height: 400px;
  }
  .card-101,
  .card-13,
  .card-16 {
    top: 1044px;
  }
  .card-101,
  .card-16 {
    top: 1554px;
  }
  .card-101 {
    top: 2680px;
  }
  .image-from-rawpixel-id-2381494-icon2 {
    position: absolute;
    top: 37px;
    left: 103px;
    width: 194px;
    height: 128px;
    object-fit: cover;
  }
  .texto-card-2-item {
    position: absolute;
    top: 87px;
    left: 46px;
    border-radius: var(--br-3xs);
    background-color: var(--verde);
    width: 130px;
    height: 39px;
  }
  .r-600001 {
    position: absolute;
    top: 52px;
    left: 70px;
    font-size: var(--font-size-base);
    text-decoration: line-through;
  }
  .r-475002 {
    position: absolute;
    top: 92px;
    left: 52px;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
  }
  .ou-r-500001 {
    position: absolute;
    top: 145px;
    left: 32px;
    font-size: var(--font-size-3xs);
    letter-spacing: 0.2em;
    font-weight: 300;
  }
  .card-14,
  .card-2,
  .texto-card-21 {
    position: absolute;
    top: 220px;
    left: 89px;
    width: 238px;
    height: 157px;
  }
  .card-14,
  .card-2 {
    top: 534px;
    left: 519px;
    width: 400px;
    height: 400px;
  }
  .card-14 {
    top: 1044px;
  }
  .card-17 {
    top: 1554px;
    left: 519px;
  }
  .card-111,
  .card-17,
  .card-3-child {
    position: absolute;
    width: 400px;
    height: 400px;
  }
  .card-111 {
    top: 2680px;
    left: 519px;
  }
  .card-3-child {
    top: 0;
    left: calc(50% - 200px);
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.3);
    border: 0.5px solid var(--color-dimgray-200);
    box-sizing: border-box;
  }
  .image-from-rawpixel-id-3802869-icon1 {
    position: absolute;
    top: 13px;
    left: 109px;
    width: 156px;
    height: 187px;
    object-fit: cover;
  }
  .texto-card-3-item {
    position: absolute;
    top: 92px;
    left: 84px;
    border-radius: var(--br-3xs);
    background-color: var(--verde);
    width: 130px;
    height: 39px;
  }
  .r-200001 {
    position: absolute;
    top: 57px;
    left: 108px;
    font-size: var(--font-size-base);
    text-decoration: line-through;
  }
  .r-95001 {
    position: absolute;
    top: 97px;
    left: 97px;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
  }
  .ou-r-100001 {
    position: absolute;
    top: 150px;
    left: 70px;
    font-size: var(--font-size-3xs);
    letter-spacing: 0.2em;
    font-weight: 300;
  }
  .texto-card-31 {
    position: absolute;
    top: 213px;
    left: 49px;
    width: 301px;
    height: 162px;
  }
  .card-121,
  .card-15,
  .card-18,
  .card-3 {
    position: absolute;
    top: 534px;
    left: calc(50% + 288px);
    width: 400px;
    height: 400px;
  }
  .card-121,
  .card-15,
  .card-18 {
    top: 1044px;
  }
  .card-121,
  .card-18 {
    top: 1554px;
  }
  .card-121 {
    top: 2680px;
  }
  .produtos-selecionados-especial {
    position: absolute;
    top: 308px;
    left: calc(50% - 581px);
    font-size: var(--font-size-29xl);
    letter-spacing: 0.15em;
  }
  .para-voc {
    position: absolute;
    top: 408px;
    left: 583px;
    font-size: var(--font-size-17xl);
    letter-spacing: 0.15em;
  }
  .group-child22,
  .group-child23 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1377px;
    height: 363px;
  }
  .group-child22 {
    object-fit: cover;
  }
  .group-child23 {
    background-color: var(--color-dimgray-100);
  }
  .off {
    position: absolute;
    top: 148px;
    left: 1152px;
    font-weight: 500;
  }
  .na-primeira {
    margin: 0;
  }
  .na-primeira-compra-container {
    position: absolute;
    top: 206px;
    left: 1111px;
    font-weight: 500;
    text-align: center;
  }
  .coleo-amaznia,
  .rectangle-parent7 {
    position: absolute;
    font-size: var(--font-size-17xl);
  }
  .rectangle-parent7 {
    top: 2068px;
    left: 30px;
    width: 1377px;
    height: 363px;
    color: var(--color-white);
  }
  .coleo-amaznia {
    top: 2547px;
    left: 32px;
    letter-spacing: 0.15em;
    font-weight: 500;
  }
  .produtos-child1,
  .produtos-child2 {
    position: absolute;
    top: 3103px;
    left: 1325px;
    width: 81px;
    height: 9px;
  }
  .produtos-child2 {
    height: 2.46%;
    width: 16.95%;
    top: 4.77%;
    right: 42.36%;
    bottom: 92.78%;
    left: 40.69%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .produtos-child3,
  .produtos-child4,
  .produtos-child5,
  .produtos-child6,
  .produtos-child7,
  .produtos-child8 {
    position: absolute;
    height: 2.36%;
    width: 2.29%;
    top: 16.26%;
    right: 71.05%;
    bottom: 81.38%;
    left: 26.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .produtos-child4,
  .produtos-child5,
  .produtos-child6,
  .produtos-child7,
  .produtos-child8 {
    top: 45.96%;
    right: 70.56%;
    bottom: 51.67%;
    left: 27.15%;
  }
  .produtos-child5,
  .produtos-child6,
  .produtos-child7,
  .produtos-child8 {
    top: 31%;
    right: 71.05%;
    bottom: 66.64%;
    left: 26.67%;
  }
  .produtos-child6,
  .produtos-child7,
  .produtos-child8 {
    height: 2.28%;
    width: 2.08%;
    top: 16.06%;
    right: 36.94%;
    bottom: 81.67%;
    left: 60.97%;
  }
  .produtos-child7,
  .produtos-child8 {
    width: 2.13%;
    top: 45.99%;
    right: 3.26%;
    bottom: 51.72%;
    left: 94.61%;
  }
  .produtos-child8 {
    width: 2.08%;
    right: 36.94%;
    bottom: 51.73%;
    left: 60.97%;
  }
  .produtos-child10,
  .produtos-child11,
  .produtos-child12,
  .produtos-child13,
  .produtos-child14,
  .produtos-child9 {
    position: absolute;
    height: 2.36%;
    width: 2.29%;
    top: 79.01%;
    right: 71.04%;
    bottom: 18.62%;
    left: 26.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .produtos-child10,
  .produtos-child11,
  .produtos-child12,
  .produtos-child13,
  .produtos-child14 {
    right: 3.47%;
    left: 94.24%;
  }
  .produtos-child11,
  .produtos-child12,
  .produtos-child13,
  .produtos-child14 {
    right: 37.57%;
    left: 60.14%;
  }
  .produtos-child12,
  .produtos-child13,
  .produtos-child14 {
    height: 2.28%;
    width: 2.08%;
    top: 31.02%;
    right: 36.94%;
    bottom: 66.7%;
    left: 60.97%;
  }
  .produtos-child13,
  .produtos-child14 {
    width: 2.13%;
    right: 3.26%;
    bottom: 66.69%;
    left: 94.61%;
  }
  .produtos-child14 {
    top: 16.06%;
    bottom: 81.66%;
  }
  .produtos {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 3407px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-montserrat);
  }
  