body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-xs: 12px;
  --font-size-2xs: 11px;
  --font-size-xl: 20px;
  --font-size-7xl: 26px;
  --font-size-37xl: 56px;
  --font-size-17xl: 36px;
  --font-size-3xs: 10px;
  --font-size-13xl: 32px;
  --font-size-45xl: 64px;
  --font-size-29xl: 48px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --cinza: #646867;
  --color-dimgray-100: rgba(100, 104, 103, 0.62);
  --color-dimgray-200: rgba(100, 104, 103, 0.2);
  --verde: #2b3b37;
  --color-black: #000;
  --color-gray: #818085;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-sm: 14px;
  --gap-base: 16px;
  --gap-45xl: 64px;

  /* Paddings */
  --padding-lg: 18px;
  --padding-0: 0px;
  --padding-base: 16px;

  /* border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-11xl: 30px;
}
